In [4]:
import sqlite3
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
# Create a SQL connection to our SQLite database
dbfile = "data\movie.sqlite"
con = sqlite3.connect(dbfile)
cur = con.cursor()

In [ ]:
# query imdb table headers
imdb_query_headers = [a for a in cur.execute("PRAGMA table_info(IMDB)")]
imdb_table_column_headers = [i[1] for i in imdb_query_headers]
# query imdb table data
imdb_table_data = [a for a in cur.execute("SELECT * FROM IMDB")]
#Save imdb table into dataframe
imdb_df = pd.DataFrame(imdb_table_data, columns=imdb_table_column_headers)

#DATA PROCESSING
#Change data type of some columns
imdb_df[["Budget", "MetaCritic"]] = imdb_df[["Budget", "MetaCritic"]].apply(pd.to_numeric)
#Split number and "min" in Runtime column, and change type
imdb_df["Runtime"] = imdb_df["Runtime"].str.split(" ", expand=True)[0]
imdb_df["Runtime"] = imdb_df["Runtime"].apply(pd.to_numeric)

In [7]:
# query EARNING table headers
earning_query_headers = [a for a in cur.execute("PRAGMA table_info(earning)")]
earning_headers = [i[1] for i in earning_query_headers]
# query earning table data
earning_table_data = [a for a in cur.execute("SELECT * FROM earning")]
# Save earning table into dataframe
earning_df = pd.DataFrame(earning_table_data, columns=earning_headers)

In [8]:
# query GENRE table headers
genre_query_headers = [a for a in cur.execute("PRAGMA table_info(genre)")]
genre_headers = [i[1] for i in genre_query_headers]
# query genre table data
genre_table_data = [a for a in cur.execute("SELECT * FROM genre")]
# Save genre table into dataframe
genre_df = pd.DataFrame(genre_table_data, columns=genre_headers)

In [14]:
# Be sure to close the connection
con.close()

In [25]:
imdb_df

,Movie_id,Title,Rating,TotalVotes,MetaCritic,Budget,Runtime,CVotes10,CVotes09,CVotes08,...,Votes3044,Votes3044M,Votes3044F,Votes45A,Votes45AM,Votes45AF,VotesIMDB,Votes1000,VotesUS,VotesnUS
0,36809,12 Years a Slave (2013),8.1,496092,96.0,20000000.0,134.0,75556,126223,161460,...,8.0,7.9,8.0,7.8,7.8,8.1,8.0,7.7,8.3,8.0
1,30114,127 Hours (2010),7.6,297075,82.0,18000000.0,94.0,28939,44110,98845,...,7.5,7.5,7.5,7.3,7.3,7.5,7.6,7.0,7.7,7.6
2,37367,50/50 (2011),7.7,283935,72.0,8000000.0,100.0,28304,47501,99524,...,7.6,7.6,7.6,7.4,7.4,7.5,7.4,7.0,7.9,7.6
3,49473,About Time (2013),7.8,225412,NaN,12000000.0,123.0,38556,43170,70850,...,7.6,7.6,7.7,7.6,7.5,7.8,7.7,6.9,7.8,7.7
4,14867,Amour (2012),7.9,76121,94.0,8900000.0,127.0,11093,15944,22942,...,7.7,7.7,7.9,7.9,7.8,8.1,6.6,7.2,7.9,7.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
112,38262,Whiplash (2014),8.5,492285,88.0,3300000.0,107.0,110404,161864,132656,...,8.3,8.3,8.2,8.1,8.1,8.2,8.7,8.0,8.6,8.4
113,10023,Wreck-It Ralph (2012),7.7,295125,72.0,165000000.0,NaN,41980,50262,96477,...,7.6,7.6,7.7,7.4,7.4,7.5,7.4,7.2,7.9,7.6
114,27783,X-Men: Days of Future Past (2014),8.0,560736,74.0,200000000.0,132.0,91765,127521,183578,...,7.8,7.8,8.0,7.7,7.7,7.9,7.5,7.4,8.1,7.9
115,42294,X-Men: First Class (2011),7.8,556713,65.0,160000000.0,132.0,64428,96219,200144,...,7.7,7.6,7.8,7.6,7.5,7.7,7.6,7.3,7.8,7.7
116,32217,Zootopia (2016),8.1,309474,78.0,150000000.0,108.0,53626,70912,102352,...,7.8,7.8,8.1,7.8,7.8,8.1,7.7,7.6,8.0,8.0

In [54]:
imdb_df["Year"] = imdb_df["Title"].apply(lambda st: st[st.find("(") + 1: st.find(")")])
imdb_df

,Movie_id,Title,Rating,TotalVotes,MetaCritic,Budget,Runtime,CVotes10,CVotes09,CVotes08,...,Votes3044M,Votes3044F,Votes45A,Votes45AM,Votes45AF,VotesIMDB,Votes1000,VotesUS,VotesnUS,Year
0,36809,12 Years a Slave (2013),8.1,496092,96.0,20000000.0,134.0,75556,126223,161460,...,7.9,8.0,7.8,7.8,8.1,8.0,7.7,8.3,8.0,2013
1,30114,127 Hours (2010),7.6,297075,82.0,18000000.0,94.0,28939,44110,98845,...,7.5,7.5,7.3,7.3,7.5,7.6,7.0,7.7,7.6,2010
2,37367,50/50 (2011),7.7,283935,72.0,8000000.0,100.0,28304,47501,99524,...,7.6,7.6,7.4,7.4,7.5,7.4,7.0,7.9,7.6,2011
3,49473,About Time (2013),7.8,225412,NaN,12000000.0,123.0,38556,43170,70850,...,7.6,7.7,7.6,7.5,7.8,7.7,6.9,7.8,7.7,2013
4,14867,Amour (2012),7.9,76121,94.0,8900000.0,127.0,11093,15944,22942,...,7.7,7.9,7.9,7.8,8.1,6.6,7.2,7.9,7.8,2012
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
112,38262,Whiplash (2014),8.5,492285,88.0,3300000.0,107.0,110404,161864,132656,...,8.3,8.2,8.1,8.1,8.2,8.7,8.0,8.6,8.4,2014
113,10023,Wreck-It Ralph (2012),7.7,295125,72.0,165000000.0,NaN,41980,50262,96477,...,7.6,7.7,7.4,7.4,7.5,7.4,7.2,7.9,7.6,2012
114,27783,X-Men: Days of Future Past (2014),8.0,560736,74.0,200000000.0,132.0,91765,127521,183578,...,7.8,8.0,7.7,7.7,7.9,7.5,7.4,8.1,7.9,2014
115,42294,X-Men: First Class (2011),7.8,556713,65.0,160000000.0,132.0,64428,96219,200144,...,7.6,7.8,7.6,7.5,7.7,7.6,7.3,7.8,7.7,2011
116,32217,Zootopia (2016),8.1,309474,78.0,150000000.0,108.0,53626,70912,102352,...,7.8,8.1,7.8,7.8,8.1,7.7,7.6,8.0,8.0,2016

In [42]:
#Check NaN values across columns
cols = imdb_df.columns
no_cols = len(cols)
for i in range(no_cols):
    count_in_col = imdb_df.iloc[:, i].isna().sum()
    if count_in_col > 0:
        col_name = cols[i]
        print(f'Col {col_name} has {count_in_col} NaN values')

Col MetaCritic has 7 NaN values
Col Budget has 3 NaN values
Col Runtime has 21 NaN values

In [39]:
imdb_df.iloc[:, 4].isna().sum()

7